* {
  box-sizing: border-box;
}

#fondo {
  /*
  position: absolute;
  top: 1em;
  left: 2em;
  margin: 0 auto;

  background-color: #FCD1C6;
  border: thin solid white;
  border-radius: 6em; */

position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;

background-color: #FCD1C6;
border: thin solid white;

z-index: -3;

}

.muneco {
  position: relative;

  margin: 0 auto;

  border: thin solid black;
  height: 30em;
  width: 30em;
  border-radius: 6em;



}

.ojos {
  position: absolute;
  height: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: black;
  border: thin solid black;
}

.ojo {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: black;
  border: thin solid white;
  border-radius: 50%;

}

.pupila {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: black;
  border: thin solid black;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}


.ojo-lb {
  position: absolute;
  left: 1em;
  top: 10em;
}

.ojo-rt {
  position: absolute;
  right: 1em;
  top: 10em;
}
